<app-nav></app-nav>
<app-user></app-user>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }
  </h1>
  <h1>
    <app-customer [city]="city"></app-customer>
  </h1>
</div> -->
<router-outlet></router-outlet>