<h1>Şuan ki şehir {{city}}</h1>
<ul>
  <div *ngFor="let customer of customers" (click)="selectCustomer(customer)">
      <li *ngIf="customer.age>24">
          <strong>{{customer.firstName}}</strong>
        </li>
  </div>
</ul>
<strong *ngIf="selectedCustomer; else elseBlock">{{selectedCustomer.firstName}} seçtiniz!</strong>
<ng-template #elseBlock>
  Bir şey seçilmedi
</ng-template>